h1 {
    text-align: center;
}

body {
    background-color: snow;
}

/* Tạo và chỉnh kích cỡ logo */
img {
    text-align: center;
    max-width: 100%;
    height: auto;
}

.logo {
    border: 5px dotted gray;
    display: block;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
}


/* Khi đặt giá trị của display thành flex, thì mặc định flex-direction sẽ là theo chiều horizontal, 
nên các children của nó sẽ được xếp lại horizontal. */
header {
    display: flex;
    align-items: center;
    margin: 0px 5px 0px;
    padding: 10px;
    background-color: blanchedalmond;
    width: auto;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu_bar {
    list-style: none;
    margin: 0px 0px 0px 30px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

a {
    margin: 10px;
    font-size: 22px;
    color: black;
    text-decoration: none;
    /*bỏ đường gạch chân*/
}

.menu_main_item {
    text-align: center;
    background-color: lightcyan;
    border: 5px double aqua;
    border-radius: 40px;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;

}

.menu_item {
    text-align: center;
    border: 5px double gray;
    border-radius: 40px;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;

}

h1:hover {
    box-shadow: 0px 0px 25px 25px aqua;
    transition-duration: 1s;
}

.menu_item:hover {
    border: 5px double aqua;
    box-shadow: 2px 2px 10px 10px gray;
    transition-duration: 1s;
}

.menu_item:hover a {
    margin: 5px;
    border: 5px double aqua;
    border-radius: 40px;
    background-color: black;
    color: white;

}

h2 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


.paper_size {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 2px gray solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.text1 {
    margin-top: -50px;
    text-align: center;
}

.text2 {
    text-align: center;
    margin-top: -15px;
    text-decoration-line: underline;
}

.text3 {
    position: absolute;
    max-width: 3cm;
    max-height: 4cm;
    padding: 0.5cm;
    border: 1.5px gray solid;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;

}

.text4 {
    text-align: center;
    font-size: 43px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 220px;
}

.text5 {
    text-align: center;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-top: -45px;
}

.text6 {
    margin-top: 40px;
    line-height: 37px;
    font-weight: lighter;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.text7 {
    text-align: center;
    margin-top: 200px;
    padding-top: 20px;
    line-height: 31px;
    font-weight: lighter;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.text8 {
    margin-top: -40px;
    line-height: 37px;
    font-weight: lighter;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.text9 {
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.text10 {
    line-height: 37px;
    font-weight: lighter;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.reverse {
    margin: 30px;
    border-radius: 300px;
}

.reverse:hover {
    box-shadow: 0px 0px 25px 25px aqua;
    transition-duration: 1s;
}

.all-form {
    width: 920px;
    height: 1600px;
    max-width: 920px;
    max-height: 1600px;
    text-align: center;
    margin: 150px;
    display: flex;
    background-color: black;
    border: 2px solid plum;
    border-radius: 20px;

}

.c1 {
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
    width: auto;
    margin-top: -20px;
    border: 5px solid black;
    border-radius: 20px;

}

.avatar-name {
    background-image: url(items/contact2.jpg);
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}


.avatar {
    margin-top: 50px;
    margin-left: 90px;
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    border: 5px solid plum;
    border-radius: 300px;

}

.avatar-name:hover {
    background-image: url(items/change2.png);
    background-size: cover;
    background-color: black;
}

.name {
    font-size: 18px;
    font-family: cursive;
    margin-top: 260px;
    margin-left: -235px;
    background-color: white;
    width: 250px;
    height: 40px;
    border: 8px dashed aqua;
    border-radius: 40px;

}

.contact {
    background-color: black;
    text-align: center;
    padding-top: 40px;
    color: white;
    width: 400px;
    height: 1200px;
    font-size: larger;
    border: 1px solid white;
    border-radius: 20px;
}

.c2 {
    background-image: url(items/Borderlight.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    color: white;
    text-align: left;
    width: 1000px;
}

.check {
    list-style-image: url(items/check-mark2.jpg);
    line-height: 30px;
    padding-top: 5px;
    margin-left: 12.5px;
    font-size: larger;
}

.infor-text {
    margin-left: 12.5px;
    margin-right: 100px;
    padding-left: 7px;
    font-size: larger;
    background-image: url(items/infor2.jpg);
    background-size: contain;
    background-attachment: scroll;
}

.character {
    background-image: url(items/infor-bar2.png);
    background-size: cover;
    width: 500px;
    height: 400px;
}

.char {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    height: 300px;
}